@media screen and (min-width:480px) {
    .flex {
        display: flex;
        align-items: center;
    }

    .logo {
        margin-bottom: 1rem;
    }

    .fa-spotify {
        font-size: 2rem;
        color: white;
    }

    .spotify {
        font-size: 3rem;
        color: white;
    }

    .fa-house,
    .fa-magnifying-glass,
    .fa-barcode {
        font-size: 1.5rem;
        padding-left: 0.3rem;
        color: #6a6c72;
    }

    .fa-circle-down,
    .fa-circle-user {
        color: #6a6c72;
        font-size: 1.5rem;
    }



    .playlist>li {
        margin-block: 0.5rem;
    }

    .playlist li strong {
        font-size: 1.5rem;
    }

    .fa-square-plus {
        font-size: 3rem;
        color: #6a6c72;
    }

    .addPlaylist {
        font-size: 1rem;
        margin-left: 0.5rem;
    }

    .hidden {
        display: inline;
        margin-left: 0.5rem;
    }

    .leftNav {
        flex-basis: 45%;
        overflow: auto;
    }

    .mainNav {
        flex-basis: 55%;
    }

    .hiddenHr {
        display: block;
        width: 100%;
        max-width: 80%;
        margin: 0 auto;
        border: 1px solid white;
    }

    .hiddenPlaylist {
        display: block;
    }


    .right_footer_right input {
        width: 60%;
    }

    .center_footer_bottom input {
        width: 55%;
    }

}

@media screen and (min-width:768px) {

    .recently,
    .created,
    .popular {
        flex-basis: calc(100% / 4 - 0.5rem);
    }

    .right_footer_right input {
        width: 80%;
    }

    .center_footer_bottom input {
        width: 60%;
    }

    .leftNav {
        flex-basis: 40%;
    }

    .mainNav {
        flex-basis: 60%;
    }



}

@media screen and (min-width:1024px) {

    .recently,
    .created,
    .popular {
        flex-basis: calc(100% / 6 - 0.5rem);
    }

    .right_footer_right input {
        width: 90%;
    }

    .center_footer_bottom input {
        width: 80%;
    }

    .leftNav {
        flex-basis: 30%;
    }

    .mainNav {
        flex-basis: 70%;
    }


}