/* top container  */
.container {
    display: flex;
    height: 90vh;
}

/* left navigation bar */
.leftNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 200%;
    padding: 1em;
    background-color: black;
}

.hidden {
    display: none;
}

.hiddenPlaylist {
    display: none;
}

.hiddenHr {
    display: none;
}

/* main navigation  */
.mainNav {
    overflow: auto;
    background-color: #141922;
}

h1,
strong {
    color: white;
}

h1 {
    margin-block: 1rem;
}

.topNav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5em;
}

#upgrade {
    border: 1px solid #6a6c72;
    border-radius: 20px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: black;
    color: #6a6c72;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    font-size: 0.6rem;
    margin-block: 1rem;
}

.label {
    color: #6a6c72;
    font-size: 1rem;
}


/* cards navigation */
.recently_container,
.created_container,
.popular_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.recently figure img,
.created figure img,
.popular figure img {
    width: 100%;
}

.recently,
.created,
.popular {
    flex-basis: calc(100% / 2 - 0.5rem);
}



/* bottom navigation  */
.bottom_container {
    height: 10vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.leftFooter {
    display: flex;
    align-items: center;
    gap: 0.2em;
}

.leftFooter figure img {
    width: 50px;
}




.center_footer_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2rem;
}

.center_footer_bottom {
    display: flex;
    justify-content: center;
}

.center_footer_bottom input {
    width: 50%;

}

.right_footer {
    display: flex;
    align-items: center;
    gap: 0.1rem;

}


.right_footer ul {
    display: flex;
    align-items: center;
}

.right_footer_right input {
    width: 50%;
}