/* top container  */
.container {
    display: flex;
    height: 90vh;
}

/* left navigation bar */
.leftNav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 160%;
    padding: 1em;
    background-color: black;
}

.hidden {
    display: none;
}

.hiddenPlaylist {
    display: none;
}

.hiddenHr {
    display: none;
}

/* main navigation  */
.mainNav {
    overflow: auto;
    background-color: #141922;
}

h1,
strong {
    color: white;
}

h1 {
    margin: 0.5rem;
}

p.label {
    margin-left: 0.5rem;
}

.topNav {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5em;
}

#upgrade {
    border: 1px solid #6a6c72;
    border-radius: 20px;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    background-color: black;
    color: #6a6c72;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0.5em;
    font-size: 0.6rem;
    margin-block: 1rem;
}

.label {
    color: #6a6c72;
    font-size: 1rem;
}


/* cards navigation */
.recently_container,
.created_container,
.popular_container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.recently figure img,
.created figure img,
.popular figure img {
    width: 100%;
}

.popular figure img {
    border-radius: 50%;
}

.recently,
.created,
.popular {
    flex-basis: calc(100% / 2 - 0.5rem);
    text-align: center;
    padding-left: 1rem;

}



/* bottom navigation  */
.bottom_container {
    height: 10vh;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.leftFooter {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.leftFooter figure img {
    width: 40px;
}

.center_footer_top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.2rem;
}

.center_footer_bottom {
    display: flex;
    justify-content: center;
}

.center_footer_bottom input {
    width: 50%;
}

.right_footer {
    display: flex;
    align-items: center;
    gap: 0.1rem;
}


.right_footer ul {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.right_footer_right input {
    width: 50%;
}


/* bonus section  */
.label:hover {
    color: white;
}

.fa-solid:hover,
.fa-regular:hover {
    color: white;
}


#upgrade:hover {
    padding: 1.5em;
    color: white;
    border-color: white;
}

.recently figure,
.created figure,
.popular figure {
    position: relative;
}

.fa-play {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    transform: translate(-50%, -50%);
    display: none;
}

.recently figure:hover,
.created figure:hover,
.popular figure:hover {
    opacity: 0.5;
}

.recently figure:hover .fa-play,
.created figure:hover .fa-play,
.popular figure:hover .fa-play {
    display: block;
}